body{
  padding: 0;
  margin: 0;
  background-color: white;
}

h1, h2, h3, h4, p, label{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.858);
}

button{
  cursor: pointer;
}

#highlighted{
  color: #0040E6;
}

h5{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

#app{
  display: grid;
  grid-template-rows: 1fr 12fr 1fr 1fr 1fr;
  height: 98vh;
  width: 98vw;
  margin: 0;
  padding: 0;
}

#header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#save{
  color: #0040E6;
}

#main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#questions-section{
  text-align: center;
}

#options{
  margin-top: 40px;
}

#option{
  display: flex;
  align-items: center;
  border: 1px gray solid;
  background-color: white;
  padding-left: 30px;
  margin-top: 15px;
  border-radius: 15px;
  height: 60px;
  min-width: 40vw;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

#option:active, #option:focus{
  border: 3px #0040E6 solid;
  transform: scale(0.95);
}

#contact-info{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
}

#input{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: -30px;
}

#text-input{
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 1px grey solid;
  margin-top: -20px;
}

#submit-contact-info{
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: #B6CBFF;
  cursor: pointer;
}

form{
  height: fit-content;
  width: 100%;
  margin: auto;
}

textarea{
  height: 80%;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  color: black;
  resize: none;
}

p{
  font-size: larger;
}

#terms{
  display: flex;
  margin: auto;
}

#clickable{
  color: #0040E6;
}

#progress-bar{
  width: 98vw;
  background-color: grey;
  height: 3px;
  margin-left: 5px;
  border-radius: 5px;
}

#bar{
  height: 100%;
  background-color: #0040E6;
  transition: width 0.8s ease;
}

#submit{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#submit p{
  color: white;
}

#submit button{
  height: 50px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0040E6;
  border-radius: 15px;
  font-size: small;
  border: none
}

.fade-transition {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-transition-enter {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 
  }
}

@media screen and (max-width: 480px) {
  #main {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
  }

  #options {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
  }

  #option {
    min-width: 100%;
  }
  #submit {
    margin-right: 20px; 
}
}